<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Scheda "#desc_articolo#"</title>
</head>

<body style="background-color:#FFFFFF">
<table width="99%" align="center" cellpadding="2">
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">Codice</div></th>
    <td bgcolor="#FFE1BF">#cod_articolo#</td>
  </tr>
  <tr>
    <th bgcolor="#FFC280"><div align="right">Descrizione</div></th>
    <td bgcolor="#FFC280"><strong>#desc_articolo#</strong></td>
  </tr>
  <tr>
    <th bgcolor="#FFC280"><div align="right">Prezzo</div></th>
    <td bgcolor="#FFC280">#prezzo# euro</td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right"><em>Ingredienti</div></em></th>
    <td bgcolor="#FFC280"><em>#ingredienti#</em></td>
  </tr>
  <tr>
    <th><div align="right"></div></th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">Categoria</div></th>
    <td bgcolor="#FFE1BF">#categoria#</td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">Sottocategoria</div></th>
    <td bgcolor="#FFE1BF">#sottocategoria#</td>
  </tr>
  <tr>
    <th><div align="right"></div></th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">#genere# confezione</div></th>
    <td bgcolor="#FFE1BF">#confezione# #um_cod# </td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">Prezzo al #um_sing# </div></th>
    <td bgcolor="#FFE1BF">#prezzo_um# euro/#um_cod#</td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">Ordine minimo</div></th>
    <td bgcolor="#FFE1BF">#min_pezzi_ordinabili# pz</td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">Ordine multiplo di</div></th>
    <td bgcolor="#FFE1BF">#mult_pezzi_ordinabili# pz</td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">Pezzi per cartone </div></th>
    <td bgcolor="#FFE1BF">#pezzi_per_cartone#</td>
  </tr>
  <tr>
    <th><div align="right"></div></th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th bgcolor="#FFC280"><div align="right">Produttore</div></th>
    <td bgcolor="#FFC280">#desc_produttore#</td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right"></div></th>
    <td bgcolor="#FFE1BF">#localita# (#provincia#) </td>
  </tr>
  <tr>
    <th bgcolor="#FFE1BF"><div align="right">Sito web<img src="#template_path#icons/16/www.png" alt="Sito web" width="16" height="16" hspace="5" align="absmiddle" /></div></th>
    <td bgcolor="#FFE1BF"><a href="#www#" target="_blank">#www#</a></td>
  </tr>
</table>
<p align="center" style="font-size:small"><img src="#template_path#icons/32/exit.png" alt="Chiudi finestra" width="32" height="32" hspace="5" align="absmiddle" border="0" /><a href="#" onclick="window.close()">Chiudi
    finestra</a> </p>
</body>
</html>